<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mymeal</display-name>
  <welcome-file-list>
    <welcome-file>Welcome</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Restaurant</display-name>
    <servlet-name>Restaurant</servlet-name>
    <servlet-class>mymealServlet.RestaurantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Restaurant</servlet-name>
    <url-pattern>/Restaurant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>mymealServlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>mymealServlet.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingServlet</display-name>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>mymealServlet.BookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/BookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>mymealServlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>mymealServlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedBackServlet</display-name>
    <servlet-name>FeedBackServlet</servlet-name>
    <servlet-class>mymealServlet.FeedBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedBackServlet</servlet-name>
    <url-pattern>/FeedBackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NavigationServlet</display-name>
    <servlet-name>NavigationServlet</servlet-name>
    <servlet-class>mymealServlet.NavigationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NavigationServlet</servlet-name>
    <url-pattern>/NavigationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookingServlet</display-name>
    <servlet-name>DeleteBookingServlet</servlet-name>
    <servlet-class>mymealServlet.DeleteBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookingServlet</servlet-name>
    <url-pattern>/DeleteBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllBookingsServlet</display-name>
    <servlet-name>AllBookingsServlet</servlet-name>
    <servlet-class>mymealServlet.AllBookingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllBookingsServlet</servlet-name>
    <url-pattern>/AllBookingsServlet</url-pattern>
  </servlet-mapping>
</web-app>